<?xml version="1.0"?>
<!--
/**
 * Copyright © 2017 x-mage2(Yosto). All rights reserved.
 * See README.md for details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Backend/etc/menu.xsd">
    <menu>
        <add id="Yosto_Core::xmagemenu" title="X-MAGE2"
             translate="title"
             module="Yosto_Core" sortOrder="20"
             resource="Yosto_Core::xmagemenu"/>
    </menu>
</config>